<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter and employees</title>
</head>
<body>
    <form action="/filter_employee" method="post">
        {% csrf_token %}
        <div>
            <label for="name"> Name </label> 
            <input type="text" id="name" name="name" >
        </div>
        <br>
        <div>
            <label for="dept"> Departments </label> 
            <input type="text" id="dept" name="dept">
        </div>
        <br>
        <div>
            <label for="role"> Role</label> 
            <input type="text" id="role" name="role">
        </div>
        <br>
        <div>
            <input type="submit">
        </div>
        

    </form>
    
</body>
</html>