<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
    <style>
         .btn{
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 5px;
            transition-duration: 0.4s;
            cursor: pointer;
          }
          .container{
            text-align: center;
          }
    </style>
</head>
<body>
    <div class="container">
        <h1> Welcome to our First Project</h1>
        <!-- <a href="https://www.digiboxx.com/">DigiBoxx</a> -->
        <a class="btn" href="/view_all_employees" role="button">View All Employees</a>
        <a class="btn" href="/view_employee_form" role="button">Add New Employee</a>
        <a class="btn" href="/all_employees_to_remove" role="button">Remove Employees</a>
        <a class="btn" href="/filter_employee" role="button">Filter Employee</a>
        <a class="btn" href="/download_csv_file" role="button">download_reports</a>

    </div>
    
    
</body>
</html>

